<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <table style="width: 100%;">
      <tr>
        <td style="width: 80%;">
          <main>
            <section>
              <%- body %>
            </section>
          </main>
        </td>
        <td style="width: 20%;">
          <aside>
            <h2>Other Profiles</h2>
            <div>
              <% for (let i=0; i < profiles.length; i++) { %>
                <% if (profiles[i].id !=profile.id){ %>
                  <li><a href="/profiles/<%= profiles[i].id%>">
                      <%= profiles[i].name%>
                    </a></li>
                  <% } %>
                    <% } %>
            </div>
          </aside>
        </td>
      </tr>
    </table>
    <%- include('../partials/footer.ejs') %>
</body>

</html>